/* Spis Treści */

/* 0.0 Resetowanie styli */
/* 1.0 Style Ogólne */
	/* 1.1 Typografia */
	/* 1.2 Style wielorazowego użytku */
		/* 1.2.1 Grid */
/* 2.0 Menu główne */
/* 3.0 Header główny */
/* 4.0 Sekcje */
	/* 4.1 Sekcja "O firmie" */
	/* 4.2 Sekcja "Oferta" */
	/* 4.3 Sekcja "Galeria" */
/* 5.0 Stopka - Kontakt */


/* 0.0 Resetowanie styli */
	body, main, nav, a, header, h1, h2, h3, h4 ,h5, h6, section, div, p, ul, li, img, footer {
		box-sizing:border-box;
		padding:0;
		margin:0;
		text-decoration:none;
		border:none;
	}
/* 1.0 Style Ogólne */
	body{
		background-color:#fff;
		color:#030303;
	}
	img {
		max-width: 100%;
		max-height: 100%;
	}
	.tlo-opakowanie {
		max-width:1907px;
		margin:0 auto;
	}
	button {
		border:1px solid #888788;
		background-color:#fff;
		border-radius:1em;
		cursor:pointer;
	}
	button img {
		
	}
	/* 1.1 Typografia */
	@font-face {
		font-family:"Roboto Regular";
		src:url(./fonty/roboto-regular.ttf);
	}
	@font-face {
		font-family:"Exo Bold";
		src:url(./fonty/exo-bold.ttf);
	}
	body{
		font-family:"Roboto Regular";
		font-size:20px;
	}
	h1, h2, h3, h4, h5, h6, p, ul, li  {
		padding:1em 0;
	}
	main > section {
		margin:1em 0;
	}
	h1 {
		font-size:1.8em;
	}
	h2 {
		font-size:1.3em;	
		text-transform:uppercase;
		margin:0 auto;
		display:block;
		max-width:1200px;
		padding-left:1vw;
		padding-right:1vw;
	}
	h3, h5, strong {
		font-size:1.2em;
	}
	h4 {
		font-size:1.1em;
	}
	h1, h2, nav {
		font-family:"Exo Bold";
	}
	h2, h3, h5, strong {
		color:#36559d;
	}
	/* 1.2 Style wielorazowego użytku */
	.tresc {
		margin:0 auto;
		max-width:1200px;
		padding:1vh 1vw;
		}
	.ikona {
		margin: 1.2em auto;
		width: auto;
		height: 5em;
		display: block;
	}
	.niebieski {
		color:#36559d;
	}
	.szary {
		color:#888788;
	}
		/* 1.2.1 Grid */
			.kol {
				width:20%;
				float:left;
			}
			.kol2 {
				width:40%;
				float:left;
			}
			.tresc .kol {
				width:36%;
			}
			.tresc .kol2 {
				width:60%;
			}
			.kol-prawa {
				float:right;
				padding-left:5%;
			}
			.float-clear {
				clear: both;
			}
			.float-clearfix:after {
				content: "";
				display: table;
				clear: both;
			}
/* 2.0 Menu główne */
	.header-nav {
		padding-top:1.2em;
		padding-bottom:1em;
	}
	.logo {
		height:3em;
	}
	nav {
		text-align:right;
	}
	nav a {
		text-transform:uppercase;
		color:#888788;
		margin:1em 0 1em 1em;
		display:inline-block;
		position:relative;
	}
	nav a:hover, nav a:focus, nav a:active {
		color:#36559d;
	}
	nav a:hover:after, nav a:focus:after, nav a:active:after {
		content:"";
		background-color:#36559d;
		display:block;
		width:1em;
		height:0.2em;
		margin:0 auto;
		position:absolute;
		left:0;
		right:0;
	}
/* 3.0 Header główny */
	main {
		position:relative;
	}
	.header-baner {
		position:relative;
		color:#fff;
		height: 40vw;
		max-height: 769px;
	}
	.img-baner {
		position:absolute;
		top:0;
		left:0;
		right:0;
		z-index:-1;
	}
	.podtytul {
		font-size:1.2em;
	}
/* 4.0 Sekcje */
	/* 4.1 Sekcja "O firmie" */
	#o-firmie img.kol2 {
		position:absolute;
		left:0;
		z-index:-1;
	}
	.atuty h4.kol2-prawa {
		width:56%;
		float:right;
	}
	/* 4.2 Sekcja "Oferta" */
	/* 4.3 Sekcja "Galeria" */
	#galeria h2 {
		padding-left:0;
		padding-right:0;
		margin:0;
	}
	.slider {
		position:relative;
		background-color:#fff;
		height:85vh;
		max-height:485px;
	}
	.img-slide {
		position: absolute;
		margin: 0 auto;
		width: auto;
		left: 0;
		right: 0;
		height:100%;
	}
	.next-slide {
	}
	.previous-slide{
		
	}
	.slider-btn {
		position: absolute;
		padding: 0.5em;
		margin: 1em;
		width: 4em;
		height: 4em;
		line-height: 1em;
		border-radius: 2em;
		border:none;
		box-shadow:0 1px 2px grey;
		bottom:45%;
		bottom: calc(50% - 2em);
	}
	.prawy-btn {
		right:0;
	}
	.lewy-btn {
		left:0;
	}
/* 5.0 Stopka - Kontakt */
	#kontakt {
		background-image:url("./grafika/logo-znak.svg");
		background-repeat:no-repeat;
		background-position:bottom right;
		background-size: auto 60%;
		padding-top:1em;
		padding-bottom:3em;
	}
	#kontakt p {
		padding:0.3em 0 0.3em 4em;
		line-height:1.5em;
	}
	.adres, .dane-kontakt {
		position:relative;
		margin-top:0.5em;
	}
	.adres:before, .dane-kontakt:before {
		display:block;
		float:left;
		left:0;
		position:absolute;
	}
	.adres:before {
		content:url("./grafika/adres.svg");
	}
	.dane-kontakt:before {
		content:url("./grafika/kontakt.svg");
	}